<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Calculator</title>
  <style>
    form {
      display: flex;
    }

    #inputs {
      width: 260px;
      margin-right: 1rem;
      font-size: 1.2rem;
    }

    #inputs input {
      padding: 0.5rem 0.25rem;
    }

    #operations {
      --btn-size: 32px;
      display: grid;
      grid-template-columns: repeat(2, var(--btn-size));
      grid-template-rows: repeat(2, var(--btn-size));
    }

    #operations button {
      font-size: 1.2rem;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>Le Calculator v.{{ data['version'] }}</h1>
  <form method="POST" enctype="multipart/form-data">
    <div id="inputs">
      <div>
        <label for="input-1">Input 1</label>
        <input type="number" id="input-1"  name="input-1" />
      </div>
      <div>
        <label for="input-2">Input 2</label>
        <input type="number" id="input-2"  name="input-2" />
      </div>
    </div>
    <div id="operations">
      <button type="submit" formaction="/add">+</button>
      <button type="submit" formaction="/subtract">-</button>
      <button type="submit" formaction="/multiply">x</button>
      <button type="submit" formaction="/divide">/</button>
    </div>
  </form>
</body>
</html>